html {
  background: #141414;
  overflow: hidden;
}

h1 {
  font-family: Geneva, Tahoma, sans-serif !important;
  width: 100%;
  text-align: center;
  margin: 0 !important;
  color: #f7f7f7;
  padding-top: 2rem;
}

h1,
span,
div {
  color: rgb(19, 209, 76) !important;
}

cursor {
  color: yellow !important;
}

.xterm {
  width: 100% !important;
  height: 100% !important;
}

.xterm-screen {
  padding: 0rem 0rem 0rem 0rem;
  margin: 0;
  margin-left: -1rem;
  width: 100% !important;
  height: 100% !important;
}

.xterm-viewport {
  width: 100%;
}

.xterm-rows {
  width: 100% !important;
  height: 100% !important;
  text-wrap: nowrap;
  padding: 5rem;
  background: #141414 !important;
  margin: 0 auto;
  font-family: Geneva, Tahoma, sans-serif !important;
  white-space: normal !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
